.container {
  max-width: 720px;
  margin: 20px auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;

  h1 {
    color: var(--white);
    margin-bottom: 10px;
  }

  .form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin: 16px 9;
  }

  .input {
    height: 40px;
    border: 0;
    background-color: var(--white);
    border-radius: 8px;
    padding: 0 16px;
    color: var(--black);
    border: 1px solid var(--gray-100);
  }
}
